
:root{
    --cor-fundo: #E51111;
    --cor-fontes: #ffffff;
    --cor-fundo-linear: #E51111;
    --cor-fundo-linear: #0F0F0F;
}
.cabecalho{
  background-color: var(--cor-fundo);
  color: var(--cor-fonte);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}
.imagem-cabecalho{
  width: 10%;
}
.itemcabecalho{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}
.escola-imagem{
  width: 25%;
}
.escola{
  background-image: linear-gradient(#E51111,#0F0F0F);
  color: var(--cor-fonte);
  display: flex;
  align-items: center;
  padding: 24px 0;
  padding: left 15%; ;
}
.escola-div-conteudo{
  width: 35%;
}
.escola-titulo{
  padding: 44px 0;
}

.estudantes-titulo{
    text-align: center;
   
}
.estudante-div{
  padding: 16px 0;
}
.estudante-imagem{
  width: 10%;

}
.icone-estudante{
  width: 4px;
  padding: 4px 8px;
  height: 4px;
}
.estudantes-tudo{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-image: linear-gradient(#E51111,#0F0F0F);
}
.rodape{
  background-color: black;
  text-align: center;
}
.rodape-imagem{
  width: 60px;
  padding: 12px 0;
}
