*{
  margin:0;
  padding: 0;
}
:root{
    --cor-fundo: #0F0F0F;
    --cor-fontes: #2ff507f4;
    --cor-fundo-linear: #E51111;
    --cor-fundo-linear: #0F0F0F;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
width: 10%;

}
.lista-cabecalho{
align-items: center;
text-align: center;
 
}
.item-lista-cabecalho{
display: inline-block;
margin: 0 16px;
font-size: 24px;
text-align: center;

}
.escola-imagem{
  width: 20% ;  
}
.escola{
  background-image: -o-linear-gradient(#e51111 #0F0F0F);
  color:var(--cor-fontes);
  display: flex;
  align-items: center;
  padding: 24px  0;  
}
.escola-div-conteudo{
  width: 35%;
}
.escola-titulo{
  padding: 24px 0;
}
