:root{
    --cor--fundo: #0F0F0F;
    --cor--fontes: #FFFFFF;
}
body{
    background-color: rgb(138, 222, 255);
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    color: #0F0F0F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
width: 10%;
}
.item-lista-cabecalho{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}